<div>
  <form (ngSubmit)="onSubmit()">
    <div>
      <label for="description">
        description
      </label>
      <input id="description" type="text" name="description" required [(ngModel)]="model.description">
    </div>
    <div>
      <label for="requiredItems">
        requiredItems
      </label>
      <input id="requiredItems" type="text" name="requiredItems" [(ngModel)]="model.requiredItems">
    </div>
    <div>
      <label for="timeToCompleteInMinutes">
        timeToCompleteInMinutes
      </label>
      <input id="timeToCompleteInMinutes" type="text" name="timeToCompleteInMinutes"
        [(ngModel)]="model.timeToCompleteInMinutes">
    </div>
    <button class="button" type="submit">Create</button>
  </form>
</div>